*{
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
    width: 100%;
  }
  .innercontainer {
    width: 80%;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  
  li{
    list-style-type: none;
    font-family: Mulish;
    font-size: 18px;
    color: #7D7987;
  }
  
  li:hover{
    color: #1F1534;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .hero{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .heroText{
    width: 50%;
    margin-top: 3rem;
  }
  
  .heroImage{
    width: 50%;
  }
  
  .heroImage img{
    width: 100%;
  }
  
  .heroText h2{
    width: 75%;
    color: #000;
    font-family: Mulish;
    font-size: 48px;
  }
  
  .heroText p{

      color: #7D7987;
      font-family: Mulish;
      font-size: 21px;
      width: 77%;
    }
    .heroText button{
        border-radius: 55px;
        background: #458FF6;
        color: #FFF;
        font-family: Mulish;
        font-size: 18px;
        border: none;
        padding: .7rem 2rem;
      }
      
      .heroText button:hover{
        cursor: pointer;
        background: rgb(7, 7, 105);
      }
      
      .services{
        margin-bottom: 4rem;
        position: relative;
        margin-top: 8rem;
      }
      
      .topServices{
        text-align: center;
        margin-bottom: 4rem;
      }
      
      hr{
        width: 4%;
      }
      
      .topServices h4{
        color: #000;
        font-family: Mulish;
        font-size: 36px;
      }
      
      .topServices p{
        color: #7D7987;
        font-family: Mulish;
        font-size: 18px;
        width: 90%;
        margin: auto;
      }
      
      .allCards{
        display: flex;
        justify-content: space-between;
      }
      
      .allCards2{
        display: flex;
        justify-content: space-between;
        margin-top: .7rem;
      }
      
      .card{
        width: 285px;
        /* background: yellow; */
        padding: 3rem 2rem;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
      }
      
      .card h5{
        color: #000;
        font-family: Mulish;
        font-size: 24px;
      }
      
      .card p{
        color: #7D7987;
        font-family: Mulish;
        font-size: 16px;
        width: 95%;
      }
      
      .consult{
        height: 30%;
      }
      
      .btn button{
        color: #458FF6;
        font-family: Mulish;
        font-size: 18px;
        border-radius: 55px;
        border: 1.4px solid #458FF6;
        padding: .7rem 2rem;
        cursor: pointer;
      }
      
      .btn{
        text-align: center;
        margin-top: 3rem;
      }
      
      .image1 img{
        position: absolute;
        z-index: -1;
        margin-left: -9rem;
        margin-top: -3rem;
      }

.healthcare{
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  align-items: center;
}

.healthImage img{
  width: 80%;
}

.healthText{
  width: 30%;
}


.healthText h2{
  color: #000;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.healthText p{
  color: #7D7987;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  width: 83%;
}

.horizontal{
   width: 10%;
}

.horizontal hr{
  border-radius: 10px;
  background: #000;
  color: #000;
  height: 1px;
  width: 100%;
}


.healthText button{
  color: #458FF6;
  font-family: Mulish;
  font-size: 18px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  padding: .7rem 2rem;
  cursor: pointer;
}


.download{
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 8rem;
  align-items: center;

}
.downloadImage img{
  width: 90%;
}

.downloadText{
  width: 50%;
}

.downloadText h2{
  color: #000;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.downloadText p{
  color: #7D7987;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  width: 90%;
}
.downloadText button{
  color: #458FF6;
  font-family: Mulish;
  font-size: 18px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  padding: .7rem 2rem;
  cursor: pointer;
}

.customer{
  border-radius: 24px;
background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
padding: 3rem;
margin-top: 10rem;
}
.topCustomer{
  text-align: center;
}
.topCustomer hr{
  width: 56px;
  height: 2px;
  border-radius: 6px;
background: #FFF;
}
.topCustomer h1{
  color: #FFF;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; 
}
.mainCustomer{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 2rem;
}
.profile{
  display: flex;
  /* justify-content: space-between; */
  width: 40%;
  align-items: center;
}

.ProfileImage img{
  width: 100%;
}

.profileText{
  margin-left: 1.5rem;
} 

.profileText h4{
  color: #FFF;
font-family: Mulish;
font-size: 25px;
font-style: normal;
font-weight: 700;
}
.profileText p{
  color: rgba(255, 255, 255, 0.85);
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;

}
.customerText{
  width: 45%;
}
  .customerText p{
    color: rgba(255, 255, 255, 0.90);
font-family: Mulish;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 30px;
  }
  .topArticle{
    text-align: center;
  }

  .topArticle h3{
    color: #000;
font-family: Mulish;
font-size: 3  6px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 155.556% */
  }

  .topArticle hr{
    width: 50px;
    height: 2px;
    border-radius: 5px;
    background: #000;
  }

  .article{
    margin-top: 7rem;
  }

  .articleCards{
    display: flex;
    gap: 2rem;
    position: relative;
  }

  .articleImage img{
    border-radius: 20px 20px 0 0;
    width:100% 
  }

.articleText{
  border-radius: 0 0 20px 20px;
background: #FFF;
box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}
.articleText h5{
  color: #000;
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 700;
width: 80%;
padding-left: 2rem;

}
.articleText p{
  color: #7D7987;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 300;
width: 80%;
padding-left: 2rem;
}
.articleText button{
  color: #4089ED;
font-family: Mulish;
font-size: 17px;
font-style: normal;
font-weight: 600;
border: none;
background-color: white;
margin-left: 2rem;
}

.articleBtn{
  text-align: center;
  margin-top: 4rem;
}

.articleBtn button{
border-radius: 55px;
border: 1.4px solid #458FF6;
color: #458FF6;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
padding: .7rem 3rem;
cursor: pointer;
}

.backImage img{
 position: absolute;
  right: 0;
  z-index: -1;
  margin-top: 4rem;
}
   
.footer{
background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
margin-top: 8rem;

}

.footerLogo{
  color: #FFF;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; 
margin-top: 8.5rem;
}

.footerLogo p{
  color: #FFF;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px;
width: 75%; 
}

.footerComp{
  color: #FFF;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 38px; /* 211.111% */
width: 391px;
}


.footerRegion{
  color: #FFF;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 211.111% */
  width: 391px;;
}

.footerHelp{
  color: #FFF;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 211.111% */
  width: 391px;;
  
}
.footerComp li{
  color: #FFF;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 38px; /* 211.111% */
}

.footerRegion li{
  color: #FFF;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 211.111% */
}

.footerHelp li{
  color: #FFF;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 211.111% */
}
.AllFooter{
  display: flex;
  margin-left: 5rem;
  /* margin-top: 10rem; */
  align-items: center;
  width: 80%;
  margin: auto;
}

.footerRest{
  display: flex;
  margin-top: 6rem;
}

@media screen and (max-width: 1024px) {
  .heroText h2{
    width: 85%;
    font-size: 40px;
  }
  
  .heroText p{
      font-size: 18px;
      width: 95.5%;
    }

    .image1 img{
      margin-top: -32rem;
    } 

    .topServices{
      margin-top: 7rem;
    }


    .healthText h2{
      font-size: 30px;
    }

    .healthText p{
      font-size: 14.5px;
      width: 100%;
    }

    .horizontal hr{
      width: 100%;
    }

    .customer{
      margin-top: 10rem;
    }


    .profileText{
      padding-left: 1.5rem;
      line-height: 1rem;
      padding-top: .5rem;
      width: 100%;
      font-size: 5px;
    }

    .profile{
      display: flex;
      width: 100%;
    }
    
.customerText{
  width: 100%;
  font-size: 14px;
  margin: auto;
 text-align: left;
}

.profileText h4{
  color: #FFF;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
}

.customerText p{
  width: 100%;
  font-size: 15px;
  margin: auto;
 text-align: left;
}

.downloadText p{
  font-size: 18px;
  width: 90%;
}

.allCards{
  gap: 1rem;
}

.allCards2{
  gap: 1rem;
}


.topArticle hr{
  margin-top: -1.5rem;
}

.articleCards{
  margin-top: 3rem;
}

.footerLogo p{
  font-size: 15px;
  line-height: 1.5rem;
}
}


@media screen and (max-width: 768px) {

  nav{
    display: none;
  }
  .heroText h2{
    font-size: 30px;
  }
  .heroText{
    margin-top: 0rem;
  }
  .topServices hr{
    width: 4rem;
  }
  
  .services{
    margin-top: 5rem;
  }
  .card p{
    font-size: 14px;
  }
  .card img{
    width: 40%;
  }
  .allCards{
    gap: 1rem;
  }
  .allCards2{
  gap: 1rem;
  }
  .card{
    padding: 1rem;
  }

  .healthcare{
    width: 100%;
  }
  .healthText h2{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
  }
  .healthText p{
    font-size: 18px;
    width: 83%;
  }
  .healthText{
    width: 100%;
    margin-left: 4rem;
  }
  .healthText p{
    font-size: 18px;
    width: 100%;
  }
  .healthImage img{
    width: 100%
  } 
  .downloadText{
    font-size: 90px;
    width: 100%;
  }
  
  .downloadText p{
    width: 100%;
  }

  .downloadImage{
    margin-left: 2rem;
    width: 100%;
  }

  .topCustomer{
    margin-top: -3rem;
  }
  .topCustomer h1{
    font-size: 30px;
  }
  
  .topCustomer hr{
    margin-top: -1rem;
  }

  .profileText{
    margin-left: -1rem;
  }
  
  .profileText h4{
    font-size: 15px;
  }

  .profileText p{
    font-size: 15px;
  }

  .customerText p{
font-size: 15px;
width: 80%;
  }


  .footer{
    margin-top: 8rem;
  }

  .AllFooter{
    margin: auto;
    align-items: center;
  }
  .footerComp{
    font-size: 18px;
  }

  .footerComp li{
    font-size: 16px;
  }
  .footerRegion{
    font-size: 18px;
  }
  .footerRegion li{
    font-size: 16px;
  }
  .footerHelp{
    font-size: 18px;
  }

  .footerHelp li{
  font-size: 16px;
  }
  .footerElement img{
    width: 10%;
  } 
  }

@media screen and (max-width: 426px){
  .hero{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }


  .heroText{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .heroImage{
    width: 100%;
  }

  .heroText h2{
    width: 100%;
    font-size: 38px;
    margin: auto;
  }
  .heroText p{
    font-size: 21px;
    width: 100%;
  }

  .allCards{
    display: flex;
    flex-direction: column;
  }
  
  .allCards2{
    display: flex;
    flex-direction: column;
  }

  .card{
    width: 285px;
    padding: 3rem 2rem;
  }
  
  .card h5{
    font-size: 24px;
  }
  
  .card p{
    font-size: 18px;
    width: 95%;
  }
  
  .card img{
    width: 20%;
  }

  .healthcare{
    flex-direction: column-reverse;
  }

  .healthText{
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .healthImage{
    width: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .download{
    flex-direction: column-reverse;
  }

  .downloadText{
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
  }

  .downloadImage{
    width: 100%;
  }

  .horizontal hr{
    display: none;
  }

  .customer{
    width: 100%;
    margin: auto;
    margin-top: 6rem;
  }

  .topCustomer h1{
    font-size: 15px;
    width: 100%;
  }

  
  .profileText h4{
    width: 100%;
    font-size: 10px;
  }

  .profileText p{
    font-size: 12px;
  }

  .ProfileImage img{
    width: 100%;
  }

  .mainCustomer{
    flex-direction: column;
    /* text-align: center; */
  }

.customerText p{
  font-size: 15px;
  width: 100%;
}

.backImage img{
  width: .1%;
}

.articleCards{
  flex-direction: column;
}


.AllFooter{
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.footerRest{
  flex-direction: column;
  width: 100%;
}

.footerLogo p{
  font-size: 15px;
  width: 80%;
}

}

@media screen and (max-width: 376px) {

  .heroText h2{
    font-size: 32px;
  }
.healthText h2{
  font-size: 30px;
}

.topCustomer h1{
  font-size: 13px;
}

.profileText{
  width: 100%;
}

.profileText h4{
  width: 100%;
  font-size: 12px;
}

.profileText p{
  font-size: 12px;
}

.customerText{
  width: 100%;
}

.customerText p{
  font-size: 12px;
  width: 100%;
}

}
